<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>LoginUI.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>InitializeBioMiniServlet</servlet-name>
        <servlet-class>servlet.InitializeBioMiniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UninitializeBioMiniServlet</servlet-name>
        <servlet-class>servlet.UninitializeBioMiniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdentifyFingerprintServlet</servlet-name>
        <servlet-class>servlet.IdentifyFingerprintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollFingerprintServlet</servlet-name>
        <servlet-class>servlet.EnrollFingerprintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePatientServlet</servlet-name>
        <servlet-class>servlet.CreatePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePatientServlet2</servlet-name>
        <servlet-class>servlet.CreatePatientServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearFingerprint</servlet-name>
        <servlet-class>servlet.ClearFingerprint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientServlet</servlet-name>
        <servlet-class>servlet.SearchPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVisitServlet</servlet-name>
        <servlet-class>servlet.CreateVisitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVitalsServlet</servlet-name>
        <servlet-class>servlet.CreateVitalsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDoctorNameServlet</servlet-name>
        <servlet-class>servlet.SetDoctorNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientLatestVisitServlet</servlet-name>
        <servlet-class>servlet.SearchPatientLatestVisitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientByVisitIDServlet</servlet-name>
        <servlet-class>servlet.SearchPatientByVisitIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateConsultServlet</servlet-name>
        <servlet-class>servlet.CreateConsultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateConsultServlet</servlet-name>
        <servlet-class>servlet.UpdateConsultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageReceiver</servlet-name>
        <servlet-class>servlet.ImageReceiver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostReferralServlet</servlet-name>
        <servlet-class>servlet.CreatePostReferralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>servlet.EditOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveConsultServlet</servlet-name>
        <servlet-class>servlet.SaveConsultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdditionalOrderServlet</servlet-name>
        <servlet-class>servlet.AdditionalOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitializeBioMiniServlet</servlet-name>
        <url-pattern>/InitializeBioMiniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UninitializeBioMiniServlet</servlet-name>
        <url-pattern>/UninitializeBioMiniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdentifyFingerprintServlet</servlet-name>
        <url-pattern>/IdentifyFingerprintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollFingerprintServlet</servlet-name>
        <url-pattern>/EnrollFingerprintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePatientServlet</servlet-name>
        <url-pattern>/CreatePatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePatientServlet2</servlet-name>
        <url-pattern>/CreatePatientServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearFingerprint</servlet-name>
        <url-pattern>/ClearFingerprint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientServlet</servlet-name>
        <url-pattern>/SearchPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVisitServlet</servlet-name>
        <url-pattern>/CreateVisitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVitalsServlet</servlet-name>
        <url-pattern>/CreateVitalsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDoctorNameServlet</servlet-name>
        <url-pattern>/SetDoctorNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientByVisitIDServlet</servlet-name>
        <url-pattern>/SearchPatientByVisitIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientLatestVisitServlet</servlet-name>
        <url-pattern>/SearchPatientLatestVisitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateConsultServlet</servlet-name>
        <url-pattern>/CreateConsultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateConsultServlet</servlet-name>
        <url-pattern>/UpdateConsultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageReceiver</servlet-name>
        <url-pattern>/ImageReceiver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostReferralServlet</servlet-name>
        <url-pattern>/CreatePostReferralServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/EditOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveConsultServlet</servlet-name>
        <url-pattern>/SaveConsultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdditionalOrderServlet</servlet-name>
        <url-pattern>/AdditionalOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            540
        </session-timeout>
    </session-config>
</web-app>
